* text=auto
*.cs text eol=lf diff=csharp
*.uxml text eol=lf
*.uss text eol=lf
*.json text eol=lf
*.md text eol=lf
*.shader text eol=lf
*.hlsl text eol=lf
*.py text eol=lf
*.png binary
*.jpg binary
*.fbx binary
*.wav binary
*.ogg binary
*.ttf binary
*.otf binary
*.dll binary
